{%extends "base.html"%}

{%block content%}
			<img style="width:100%;height:400px;border:0px;border-bottom:1px solid #aaa;margin-top:-20px;margin-bottom:50px;" src="/static/img/contactBackground.jpeg">
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						<form role="form" action="/submitSuggestion" method="post" class="contactform">
							{% csrf_token %}
							<h4>Magnet是小二寒假在实验室科研之余完成的项目,非常需要您的建议,让它能变得更好!</h4>
							<div class="row">
								<div class="col-sm-4">
									<div class="form-group">
										<label for="adviser"><i class="icon-user"></i> 姓名</label>
										<input name="adviser" class="form-control" value="" id="adviser" required="" type="text" placeholder="请输入您的姓名">
									</div>
									<div class="form-group">
										<label for="email"><i class="icon-envelope-alt"></i> Email</label>
										<input name="email" class="form-control" value="" id="email" required="" type="email" placeholder="you@yourdomain.com">
									</div>
									<div class="form-group">
										<label for="subject"><i class="icon-question"></i> 主题</label>
										<input name="subject" class="form-control" value="" id="subject" required="" type="text" placeholder="先给几个关键词咯">
									</div>
								</div>
								<div class="col-sm-8">
									<label for="message"><i class="icon-pencil"></i> 正文 </label>
									<textarea name="content" class="form-control" id="message" cols="100" rows="8" required="" placeholder="您具体的想法~"></textarea>
								</div>
							</div>
				
							<div class="row">
								<div class="col-sm-12 submit-button">
									<input class="btn btn-main btn-large" value="提交" type="submit">
								</div>
							</div>
						</form>
					</div>
					<hr class="visible-xs" />
					<div class="col-sm-4 address">
						<h4>Magnet</h4>
						<address style="margin-bottom:15px;">
							北京市海淀区清华大学
						</address>
						<i class="icon-envelope"></i> &nbsp;421915293@163.com<br>
						<i class="icon-envelope"></i> &nbsp;pxy14@mails.tsinghua.edu.cn
						<hr class="hidden-xs" /><p class="visible-xs">&nbsp;</p>

					</div>
				</div>
			</div>
{% endblock %}
