{% extends "base.html" %}

{% block link %}
<link href="/static/includes/js/isotope/jquery.isotope.css" rel="stylesheet">
{% endblock %}

{% block content %}
			<div id="team">
				<div id="team_filters_container">
					<div class="container">
						<div class="row">
							<div class="col-sm-4 hidden-xs">						
								<h4>您的入驻组织</h4>
							</div>
							<div class="col-sm-8">
								<ul id="team_filters">
									<li><a href="#" data-filter="*" class="active">All</a></li>
									<li class="separator">/</li>
									<li><a href="#" data-filter=".management">您所管理的组织</a></li>
									<li class="separator">/</li>
									<li><a href="#" data-filter=".development">您所参加的组织</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div id="team_container">
						{% for organization in organizationList%}
						<div class="photo {{organization.class}}">
							<img src="{{organization.photoUrl}}" class="img-responsive" alt="" />
							<a href="/organization/{{organization.id}}" class="mask">
								<h4>{{organization.name}}</h4>
								<small>{{organization.state}}</small>
								<small>{{organization.membersNum}}人</small>
							</a>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
{% endblock %}

{% block script %}
<script src= "/static/includes/js/isotope/jquery.isotope.min.js"></script>
{% endblock %}			