{% extends "base.html" %}

{% block link %}
<link href="/static/includes/js/isotope/jquery.isotope.css" rel="stylesheet">
{% endblock %}

{% block content %}
			<div id="portfolio">
				<div id="filters_container">
					<div class="container">
						<div class="row">
							<div class="col-sm-4 hidden-xs">						
								<h4>Our latest creations</h4>
							</div>
							<div class="col-sm-8">
								<ul id="filters">
									<li><a href="#" data-filter="*" class="active">All</a></li>
									<li class="separator">/</li>
									<li><a href="#" data-filter=".design">Designs</a></li>
									<li class="separator">/</li>
									<li><a href="#" data-filter=".app">Applications</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="container">
					<div id="gallery_container">
						<div class="photo app">
							<img src="/static/includes/img/project-1.jpg" class="img-responsive"  alt=""/>
							<a href="portfolio-item.html" class="mask">
								<h4>Wacom Android App</h4>
								<small>Application</small>
								<div class="more"><i class="icon-plus-sign icon-2x"></i></div>
							</a>
						</div>
						<div class="photo app">
							<img src= "/static/includes/img/project-2.jpg" class="img-responsive"  alt=""/>
							<a href="portfolio-item.html" class="mask">
								<h4>Histoire Timeline</h4>
								<small>Application</small>
								<div class="more"><i class="icon-plus-sign icon-2x"></i></div>
							</a>
						</div>
						<div class="photo design">
							<img src= "/static/includes/img/project-3.jpg" class="img-responsive"  alt=""/>
							<a href="portfolio-item.html" class="mask">
								<h4>Dangers of Drug Driving</h4>
								<small>Design</small>
								<div class="more"><i class="icon-plus-sign icon-2x"></i></div>
							</a>
						</div>
						<div class="photo design">
							<img src= "/static/includes/img/project-4.jpg" class="img-responsive"  alt=""/>
							<a href="portfolio-item.html" class="mask">
								<h4>Fubiz</h4>
								<small>Design</small>
								<div class="more"><i class="icon-plus-sign icon-2x"></i></div>
							</a>
						</div>
						<div class="photo app">
							<img src= "/static/includes/img/project-5.jpg" class="img-responsive"  alt=""/>
							<a href="portfolio-item.html" class="mask">
								<h4>HeikoPaiko</h4>
								<small>Application</small>
								<div class="more"><i class="icon-plus-sign icon-2x"></i></div>
							</a>
						</div>
						<div class="photo design">
							<img src= "/static/includes/img/project-6.jpg" class="img-responsive"  alt=""/>
							<a href="portfolio-item.html" class="mask">
								<h4>Design Interactive Motion</h4>
								<small>Design</small>
								<div class="more"><i class="icon-plus-sign icon-2x"></i></div>
							</a>
						</div>
						<div class="photo design">
							<img src= "/static/includes/img/project-7.jpg" class="img-responsive"  alt=""/>
							<a href="portfolio-item.html" class="mask">
								<h4>PlayDotToCom</h4>
								<small>Design</small>
								<div class="more"><i class="icon-plus-sign icon-2x"></i></div>
							</a>
						</div>
						<div class="photo app">
							<img src= "/static/includes/img/project-8.jpg" class="img-responsive" alt=""/>
							<a href="portfolio-item.html" class="mask">
								<h4>The Mobile Index</h4>
								<small>Application</small>
								<div class="more"><i class="icon-plus-sign icon-2x"></i></div>
							</a>
						</div>
						<div class="photo app">
							<img src= "/static/includes/img/project-9.jpg" class="img-responsive" alt="" />
							<a href="portfolio-item.html" class="mask">
								<h4>City Xplorer</h4>
								<small>Application</small>
								<div class="more"><i class="icon-plus-sign icon-2x"></i></div>
							</a>
						</div>
						<div class="photo design">
							<img src= "/static/includes/img/project-10.jpg" class="img-responsive" alt="" />
							<a href="portfolio-item.html" class="mask">
								<h4>Brave People</h4>
								<small>Design</small>
								<div class="more"><i class="icon-plus-sign icon-2x"></i></div>
							</a>
						</div>
						<div class="photo app">
							<img src= "/static/includes/img/project-11.jpg" class="img-responsive" alt="" />
							<a href="portfolio-item.html" class="mask">
								<h4>Explore.in</h4>
								<small>Application</small>
								<div class="more"><i class="icon-plus-sign icon-2x"></i></div>
							</a>
						</div>
						<div class="photo design">
							<img src= "/static/includes/img/project-12.jpg" class="img-responsive" alt="" />
							<a href="portfolio-item.html" class="mask">
								<h4>The Wes Anderson Collection</h4>
								<small>Design</small>
								<div class="more"><i class="icon-plus-sign icon-2x"></i></div>
							</a>
						</div>
						<div class="photo design">
							<img src= "/static/includes/img/project-13.jpg" class="img-responsive" alt="" />
							<a href="portfolio-item.html" class="mask">
								<h4>Lois Jeans</h4>
								<small>Design</small>
								<div class="more"><i class="icon-plus-sign icon-2x"></i></div>
							</a>
						</div>
						<div class="photo app">
							<img src= "/static/includes/img/project-14.jpg" class="img-responsive" alt="" />
							<a href="portfolio-item.html" class="mask">
								<h4>FCINQ</h4>
								<small>Application</small>
								<div class="more"><i class="icon-plus-sign icon-2x"></i></div>
							</a>
						</div>
						<div class="photo design">
							<img src= "/static/includes/img/project-15.jpg" class="img-responsive"  alt=""/>
							<a href="portfolio-item.html" class="mask">
								<h4>Adcade</h4>
								<small>Design</small>
								<div class="more"><i class="icon-plus-sign icon-2x"></i></div>
							</a>
						</div>
						<div class="photo app">
							<img src= "/static/includes/img/project-16.jpg" class="img-responsive" alt="" />
							<a href="portfolio-item.html" class="mask">
								<h4>Whiteboard</h4>
								<small>Application</small>
								<div class="more"><i class="icon-plus-sign icon-2x"></i></div>
							</a>
						</div>
						<div class="photo app">
							<img src= "/static/includes/img/project-17.jpg" class="img-responsive" alt="" />
							<a href="portfolio-item.html" class="mask">
								<h4>FW/13</h4>
								<small>Application</small>
								<div class="more"><i class="icon-plus-sign icon-2x"></i></div>
							</a>
						</div>
						<div class="photo design">
							<img src= "/static/includes/img/project-18.jpg" class="img-responsive" alt="" />
							<a href="portfolio-item.html" class="mask">
								<h4>Spring Summer</h4>
								<small>Design</small>
								<div class="more"><i class="icon-plus-sign icon-2x"></i></div>
							</a>
						</div>
						<div class="photo design">
							<img src= "/static/includes/img/project-19.jpg" class="img-responsive" alt="" />
							<a href="portfolio-item.html" class="mask">
								<h4>Joe San Collections</h4>
								<small>Design</small>
								<div class="more"><i class="icon-plus-sign icon-2x"></i></div>
							</a>
						</div>
						<div class="photo app">
							<img src= "/static/includes/img/project-20.jpg" class="img-responsive" alt="" />
							<a href="portfolio-item.html" class="mask">
								<h4>TuneMagic</h4>
								<small>Application</small>
								<div class="more"><i class="icon-plus-sign icon-2x"></i></div>
							</a>
						</div>
					</div>
				</div>
			</div>
{% endblock %}

{% block script %}
<script src= "/static/includes/js/isotope/jquery.isotope.min.js"></script>
{% endblock %}			