{% extends "base.html" %}
{%block content%}
			<div class="container">
				<div class="login-box">
					<div class="login-header">
						<h4>注册账号</h4>
					</div>
					<div class="login-form">
						<form role="form" action="/register" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if error %}
                            <div class="form-group">
                                <!--a href="#" class="pull-right label-forgot">Forgot email?</a-->
                                {{error}}
                            </div>
                        {% endif %}
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-user"></i></span>
                                <input id="username" class="form-control" type="text" name="username" placeholder="用户名">
                            </div>
							<div class="input-group">
								<span class="input-group-addon"><i class="icon-user"></i></span>
								<input id="name" class="form-control" type="text" name="realName" placeholder="真实姓名">
							</div>
							<div class="input-group">
                                <span class="input-group-addon"><i class="icon-user"></i></span>
                                <input id="studentID" class="form-control" type="text" name="studentID" placeholder="学号">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                <input id="E-mail" class="form-control" type="text" name="email" placeholder="电子邮箱">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-pencil"></i></span>
                                <input id="phone" class="form-control" type="text" name="phone" placeholder="联系电话">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-pencil"></i></span>
                                <input id="major" class="form-control" type="text" name="major" placeholder="专业">
                            </div>
							<div class="input-group">
								<span class="input-group-addon"><i class="icon-pencil"></i></span>
								<input id="password" class="form-control" type="password" name="password" placeholder="密码">
							</div>
							<div class="input-group">
								<span class="input-group-addon"><i class="icon-pencil"></i></span>
								<input id="password2" class="form-control" type="password" placeholder="再次输入密码">
							</div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-leaf"></i></span>
                                <input class="form-control" type="file" id="photo" name="photo" placeholder="请上传您的头像" >
                            </div>
							<div class="row">
								<div class="col-sm-12 remember-me">
									 <label class="checkbox"><input type="checkbox"> 我同意 <a href="#">服务条款</a>.</label>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 cta">
									<button class="btn btn-main btn-large"><i class="icon-plus"></i>注册</button>
								</div>
							</div>
							<div class="related-links">
								<h5>已经注册? <a href="/login">登录</a></h5>
							</div>					
						</form>
					</div>
				</div>
			</div>
{%endblock%}